[submodule "self-config/plugged/vim-easy-align"]
	path = self-config/plugged/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "self-config/plugged/nerdtree"]
	path = self-config/plugged/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "self-config/plugged/vim-nerdtree-tabs"]
	path = self-config/plugged/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "self-config/plugged/nerdtree-git-plugin"]
	path = self-config/plugged/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "self-config/plugged/auto-pairs"]
	path = self-config/plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "self-config/plugged/vim-airline"]
	path = self-config/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "self-config/plugged/SuperTab"]
	path = self-config/plugged/SuperTab
	url = https://github.com/vim-scripts/SuperTab
[submodule "self-config/plugged/vim-colors-github"]
	path = self-config/plugged/vim-colors-github
	url = https://github.com/acarapetis/vim-colors-github
[submodule "self-config/plugged/vim-one"]
	path = self-config/plugged/vim-one
	url = https://github.com/rakr/vim-one
[submodule "self-config/plugged/tender.vim"]
	path = self-config/plugged/tender.vim
	url = https://github.com/jacoborus/tender.vim
